# This is what ISE deletes if you perform project cleanup
Snake.cmd_log
Snake.bgn
# Snake.bit
Snake.bld
Snake.drc
Snake.lso
Snake.ncd
Snake.ngd
Snake.ngr
Snake.pad
Snake.par
Snake.pcf
Snake.prj
Snake.ptwx
Snake.stx
Snake.syr
Snake.twr
Snake.twx
Snake.unroutes
Snake.ut
Snake.xpi
Snake.xst
Snake_map.map
Snake_map.mrp
Snake_map.xrpt
Snake_map.ncd
Snake_map.ngm
Snake_usage.xml
Snake_summary.xml
bitgen.xmsgs
map.xmsgs
ngdbuild.xmsgs
par.xmsgs
trce.xmsgs
xst.xmsgs
# I commented this out because I think it's interesting
# usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xlnx_auto_0_xdb/
xst/
_ngo/

# and this is what I think should be ignored
NavigationStateMachine_summary.html
NavigationStateMachine_envsettings.html
