//! **************************************************************************
// Written by: Map P.20131013 on Fri May 16 14:05:21 2014
//! **************************************************************************

SCHEMATIC START;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

