//! **************************************************************************
// Written by: Map P.20131013 on Fri May 16 14:59:30 2014
//! **************************************************************************

SCHEMATIC START;
COMP "PUSH_BUTTONS<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "PUSH_BUTTONS<1>" LOCATE = SITE "M4" LEVEL 1;
COMP "PUSH_BUTTONS<2>" LOCATE = SITE "C11" LEVEL 1;
COMP "PUSH_BUTTONS<3>" LOCATE = SITE "G12" LEVEL 1;
COMP "STATE_OUT<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "STATE_OUT<1>" LOCATE = SITE "M5" LEVEL 1;
COMP "CLOCK" LOCATE = SITE "B8" LEVEL 1;
COMP "RESET" LOCATE = SITE "P11" LEVEL 1;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

